.idea/
	LICENSE.html
	LICENSE.txt
	LICENSE_AFL.txt
	RELEASE_NOTES.txt
	api.php
	app/
	cortina.php
	cron.php
	cron.sh
	dev/
	downloader/
	errors/
	favicon.ico
	get.php
	includes/
	index.php
	index.php.sample
	install.php
	js/
	lib/
	mage
	media/
	paises.xml
	php.ini.sample
	shell/
	skin/
	var/
